@charset "UTF-8";

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin:0;
    font-family: Arial, sans-serif;
}

* { margin: 0; padding: 0;}

body, html { width: 100%;height:100%; }

canvas {
    position:absolute;
    width:100%;
    height:100%;
}

input,
button {
    font-family: Arial, sans-serif;
    padding: 5pt 8pt;
    background: lightgray;
    color: black;
    border: 1pt solid white;
    border-radius: 3pt;
    margin: 1pt;
    transition: background-color, color;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    text-align: center;
}

input:hover,
button:hover {
    background: #949494;
    color: white;
}

input {
    margin-top: 3pt;
    margin-bottom: 8pt;
}



#table-canvas {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    z-index: 2;
    /*cursor: pointer;*/
}

#seats-overlay {
    width: 130pt;
    height: 250pt;
    margin-right: 15pt;
    margin-top: 15pt;
    padding-top: 10pt;
    background-color: rgba(230,230,230,0.7);
    right: 0;
    top: 0;
    float: right;
}

#seats-list {
    margin-top: 12pt;
}
